BR2_x86_64=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_INIT_BUSYBOX=y
BR2_TARGET_GENERIC_HOSTNAME="seven"
BR2_TARGET_GENERIC_ISSUE="Seven OS"
BR2_SYSTEM_DHCP="eth0"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_SEVEN_PATH)/board/seven/rootfs-overlay"
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y
# BR2_LINUX_KERNEL is not set
BR2_PACKAGE_SEVEN_WIN=y
BR2_PACKAGE_WINE=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_PACKAGE_MESA3D=y
BR2_PACKAGE_MESA3D_GALLIUM_DRIVER_VIRGL=y
BR2_PACKAGE_MESA3D_GALLIUM_DRIVER_SOFTPIPE=y
BR2_PACKAGE_MESA3D_OPENGL_EGL=y
BR2_PACKAGE_MESA3D_OPENGL_ES=y
BR2_PACKAGE_QT6=y
BR2_PACKAGE_QT6BASE_GUI=y
BR2_PACKAGE_QT6BASE_EGLFS=y
BR2_PACKAGE_QT6BASE_DEFAULT_QPA="eglfs"
BR2_PACKAGE_QT6BASE_OPENGL=y
BR2_PACKAGE_QT6BASE_OPENGL_ES2=y
BR2_PACKAGE_QT6BASE_NETWORK=y
BR2_PACKAGE_QT6DECLARATIVE=y
BR2_PACKAGE_QT6DECLARATIVE_QUICK=y
BR2_PACKAGE_QT6WAYLAND=y
BR2_PACKAGE_QT6WAYLAND_COMPOSITOR=y
BR2_PACKAGE_QT6SVG=y
BR2_PACKAGE_DEJAVU=y
BR2_PACKAGE_SEVEN_DESKTOP=y
BR2_ENABLE_LOCALE=y
BR2_GENERATE_LOCALE="C.UTF-8;en_US.UTF-8;pt_BR.UTF-8"
BR2_PACKAGE_FOOT=y
BR2_PACKAGE_SEVEN_CORE_APPS=y
