BR2_x86_64=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_INIT_BUSYBOX=y
BR2_TARGET_GENERIC_HOSTNAME="seven"
BR2_TARGET_GENERIC_ISSUE="Seven OS"
BR2_SYSTEM_DHCP="eth0"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_SEVEN_PATH)/board/seven/rootfs-overlay"
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y
# BR2_LINUX_KERNEL is not set
BR2_PACKAGE_SEVEN_WIN=y
