[Unit]
ConditionKernelCommandLine=!seven.recovery=1
Description=Seven Desktop
Documentation=https://github.com/gabriell211/Seven-OS
After=systemd-udev-settle.service systemd-user-sessions.service dbus.service seven-session-runtime.service seven-wireplumber.service
Wants=systemd-udev-settle.service
Requires=seven-session-runtime.service
Conflicts=getty@tty1.service

[Service]
Type=simple
User=seven
Group=seven
SupplementaryGroups=video render input audio
RuntimeDirectory=seven
RuntimeDirectoryMode=0700
Environment=XDG_RUNTIME_DIR=/run/seven
Environment=QT_QPA_PLATFORM=eglfs
Environment=QT_QPA_EGLFS_ALWAYS_SET_MODE=1
Environment=QT_LOGGING_RULES=qt.qpa.*=false
Environment=XDG_SESSION_TYPE=wayland
Environment=XDG_CURRENT_DESKTOP=Seven
Environment=HOME=/home/seven
WorkingDirectory=/home/seven
ExecStart=/usr/bin/dbus-run-session -- /usr/bin/seven-session
Restart=on-failure
RestartSec=2
TTYPath=/dev/tty1
StandardInput=tty
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target
